# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 The Vision Authors
[run]
branch = True
source = vision
omit =
    tests/*
    **/__init__.py

[report]
show_missing = True
skip_covered = True
